body {
    background-image: url("../img/fondo.jpg");
    background-size: contain;
    background-position-x: right;

    section {
        background-image: linear-gradient(to top, var(--index-section-bg) 0%, var(--index-section-bg) 2%, var(--index-section-bg-2) 20%);

        #unity-container {
            #unity-canvas {
                border: 10px solid transparent;
                border-image: url('../img/bordes.png') 25 round;
                border-bottom: 0px;
            }

            #unity-footer {
                background-color: var(--unity-footer-bg);
                border: 4px solid var(--unity-footer-border);
            }
        }

        article {
            background-color: var(--article-bg);
        }
    }
}