@charset "UTF-8";
:root {
  --orange-1: #C07E56;
  --orange-2: #D4803D;
  --blue-1: lightblue;
  --blue-2: #5B7D87;
  --blue-3: #2B4251;
  --green-1: #52BBD9;
  --green-2: #43939E;
  --dark-1: rgba(255, 255, 255, 0);
  --dark-2: #141414;
  --white-1: #EEFDFD;
  --white-2: #E7DEDE;
  --yellow-1: #F6F2BF;
}
:root.light {
  --h1: var(--green-1);
  --h2: var(--green-2);
  --h3: var(--blue-3);
  --p: var(--dark-2);
  --a: var(--dark-2);
  --a-hover: var(--green-1);
  --li: var(--dark-2);
  --span: var(--green-1);
  --article-bg: var(--white-1);
  --article-border: var(--dark-2);
  --footer-bg: var(--white-1);
  --footer-h2-border: var(--blue-3);
  --index-section-bg: var(--white-1);
  --index-section-bg-2: var(--dark-1);
  --unity-footer-bg: var(--orange-2);
  --unity-footer-border: var(--dark-2);
  --icon: var(--white-2);
  --icon-hover: var(--orange-1);
}
:root.dark {
  --h1: var(--orange-1);
  --h2: var(--blue-3);
  --h3: var(--yellow-1);
  --p: var(--white-2);
  --a: var(--white-2);
  --a-hover: var(--orange-1);
  --li: var(--white-2);
  --span: var(--orange-1);
  --article-bg: var(--blue-2);
  --article-border: var(--dark-2);
  --footer-bg: var(--blue-2);
  --footer-h2-border: var(--blue-3);
  --index-section-bg: var(--blue-2);
  --index-section-bg-2: var(--dark-1);
  --unity-footer-bg: var(--orange-2);
  --unity-footer-border: var(--dark-2);
  --icon: var(--white-2);
  --icon-hover: var(--green-1);
}

h1 {
  color: var(--h1);
  font-size: 3rem;
  padding: 3% 0% 0.75% 0%;
  text-align: center;
}

h2 {
  color: var(--h2);
  font-size: 2.25rem;
  padding: 3% 0% 0.75% 0%;
  text-align: center;
}

h3 {
  color: var(--h3);
  font-size: 2.25rem;
  padding: 5% 0% 0% 0%;
  text-align: center;
}

p {
  color: var(--p);
  font-size: 1.1rem;
  line-height: 1.5;
  padding-bottom: 1.5%;
  text-align: justify;
}

a {
  color: var(--a);
  font-size: 1.1rem;
  padding-bottom: 1.5%;
  text-decoration: line-through;
}
a:hover {
  color: var(--a-hover);
}

article {
  border-bottom: 2.5px solid var(--article-border);
}

ul {
  list-style-type: none;
  padding: 0 0 1.5% 0;
}
ul li {
  color: var(--li);
  font-size: 1.15rem;
  line-height: 1.5;
  padding-top: 1%;
}
ul li span {
  color: var(--span);
  font-weight: bold;
}

.icon {
  color: var(--icon);
  font-family: "icomoon";
  font-size: 2.5rem;
  font-weight: normal;
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, color 0.3s ease;
  transition: transform 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  cursor: pointer;
}
.icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: var(--icon-hover);
}
.icon:before {
  content: "\e9d5";
}

footer {
  background-color: var(--footer-bg);
}
footer section h2 {
  font-size: 1.25rem;
  border-bottom: 2.5px solid var(--footer-h2-border);
}
footer section img {
  width: 100%;
  max-width: 125px;
  margin: 0 auto;
}
footer section p {
  text-align: center;
  padding: 2.5% 0 0 0;
}
footer section .p-footer {
  padding-top: 0;
}
footer section .a-footer {
  padding: 2.5% 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* 
    Document   : reset
    Created on : 04/10/2013, 11:55:06
    Author     : alfredo
    Description:
        Purpose of the stylesheet follows.
*/
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* No olvides definir estilos para focus */
:focus {
  outline: 0;
}

/* No olvides resaltar de alguna manera el texto insertado/borrado */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* En el código HTML es necesario añadir cellspacing="0" */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Minecraftia-Regular;
  src: url("../font/Minecraftia-Regular.ttf") format("truetype");
}
@font-face {
  font-family: icomoon;
  src: url("../font/icomoon/fonts/icomoon.ttf") format("truetype");
}
* {
  font-family: Minecraftia-Regular;
}

@media screen and (max-width: 767px) {
  footer {
    grid-column: 1;
    padding: 1.25% 0;
  }
  footer section {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 5px;
    padding: 2% 3%;
  }
  footer section div {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  footer {
    grid-column: 1/3;
    padding: 1.25% 0;
  }
  footer section {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 5px;
    padding: 2% 3%;
  }
  footer section div {
    width: 49%;
    text-align: center;
  }
  footer section div:nth-child(3) {
    width: 100%;
  }
  footer section div:nth-child(3) div {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  footer {
    grid-column: 1/4;
    padding: 1.25% 0;
  }
  footer section {
    max-width: 1280px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }
  footer section div {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  header {
    grid-column: 1;
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3% 0%;
    position: relative;
  }
  header .icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    grid-column: 1/3;
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3% 0%;
    position: relative;
  }
  header .icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1%;
  }
}
@media screen and (min-width: 1025px) {
  header {
    grid-column: 1/4;
    grid-row: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1% 0%;
    position: relative;
  }
  header .icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1%;
  }
}
@media screen and (max-width: 767px) {
  body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
}
@media screen and (min-width: 1025px) {
  body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
  }
}
@media screen and (max-width: 767px) {
  main {
    grid-column: 1;
    grid-row: 2;
  }
  main section #unity-container {
    position: static !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 5%;
  }
  main section #unity-container.unity-desktop {
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
    top: 0 !important;
    left: 0 !important;
  }
  main section article .container {
    padding: 0% 3%;
    margin: 0 auto;
  }
  main section article .container h2 {
    padding-top: 5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    grid-column: 1/3;
    grid-row: 2;
  }
  main section #unity-container {
    position: static !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 5%;
  }
  main section #unity-container.unity-desktop {
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
    top: 0 !important;
    left: 0 !important;
  }
  main section article .container {
    padding: 0% 3%;
    margin: 0 auto;
  }
  main section article .container h2 {
    padding-top: 5%;
  }
}
@media screen and (min-width: 1025px) {
  main {
    grid-column: 1/4;
    grid-row: 2;
  }
  main section #unity-container {
    position: static !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 1.5%;
  }
  main section #unity-container #unity-footer {
    width: 1292px;
  }
  main section #unity-container #unity-footer div {
    padding: 5px;
  }
  main section #unity-container.unity-desktop {
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
    top: 0 !important;
    left: 0 !important;
  }
  main section article .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}
body {
  background-image: url("../img/fondo.jpg");
  background-size: contain;
  background-position-x: right;
}
body section {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--index-section-bg)), color-stop(2%, var(--index-section-bg)), color-stop(20%, var(--index-section-bg-2)));
  background-image: linear-gradient(to top, var(--index-section-bg) 0%, var(--index-section-bg) 2%, var(--index-section-bg-2) 20%);
}
body section #unity-container #unity-canvas {
  border: 10px solid transparent;
  -o-border-image: url("../img/bordes.png") 25 round;
     border-image: url("../img/bordes.png") 25 round;
  border-bottom: 0px;
}
body section #unity-container #unity-footer {
  background-color: var(--unity-footer-bg);
  border: 4px solid var(--unity-footer-border);
}
body section article {
  background-color: var(--article-bg);
}/*# sourceMappingURL=main.css.map */