footer {
    background-color: var(--footer-bg);

    section {
        h2 {
            font-size: 1.25rem;
            border-bottom: 2.5px solid var(--footer-h2-border);
        }

        img {
            width: 100%;
            max-width: 125px;
            margin: 0 auto;
        }

        p {
            text-align: center;
            padding: 2.5% 0 0 0;
        }

        .p-footer {
            padding-top: 0;
        }

        .a-footer {
            padding: 2.5% 0 0 0;
            display: flex;
            flex-direction: column;
        }
    }
}