:root{
    --orange-1: #C07E56;
    --orange-2: #D4803D;

    --blue-1: lightblue;
    --blue-2: #5B7D87;
    --blue-3: #2B4251;

    --green-1: #52BBD9;
    --green-2: #43939E;

    --dark-1: rgba(255, 255, 255, 0);
    --dark-2: #141414;

    --white-1: #EEFDFD;
    --white-2: #E7DEDE;

    --yellow-1: #F6F2BF;

    &.light {
        --h1: var(--green-1);
        --h2: var(--green-2);
        --h3: var(--blue-3);
        --p: var(--dark-2);
        --a: var(--dark-2);
        --a-hover: var(--green-1);
        --li: var(--dark-2);
        --span: var(--green-1);

        --article-bg: var(--white-1);
        --article-border: var(--dark-2);
        --footer-bg: var(--white-1);
        --footer-h2-border: var(--blue-3);
        --index-section-bg: var(--white-1);
        --index-section-bg-2: var(--dark-1);
        --unity-footer-bg: var(--orange-2);
        --unity-footer-border: var(--dark-2);
        --icon: var(--white-2);
        --icon-hover: var(--orange-1);
    }

    &.dark {
        --h1: var(--orange-1);
        --h2: var(--blue-3);
        --h3: var(--yellow-1);
        --p: var(--white-2);
        --a: var(--white-2);
        --a-hover: var(--orange-1);
        --li: var(--white-2);
        --span: var(--orange-1);

        --article-bg: var(--blue-2);
        --article-border: var(--dark-2);
        --footer-bg: var(--blue-2);
        --footer-h2-border: var(--blue-3);
        --index-section-bg: var(--blue-2);
        --index-section-bg-2: var(--dark-1);
        --unity-footer-bg: var(--orange-2);
        --unity-footer-border: var(--dark-2);
        --icon: var(--white-2);
        --icon-hover: var(--green-1);
    }
}